<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-heading">
                <h2 class="text-center">Ingrese su usuario y contraseña</h2>
            </div>
            <hr>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form #loginForm="ngForm" (ngSubmit)="loginEstudiate(loginForm)">

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    <input type="text" autocomplete="off" class="form-control" accesskey="u" placeholder="Usuario" tabindex="1" required="required" name="username" id="username">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-lock"></span>
                                    </span>
                                    <input type="password" autocomplete="off" size="25" class="form-control" accesskey="c" tabindex="2" placeholder="Contraseña" name="password" id="password" required="required">
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-success">Ingresar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</div>